<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import File</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="width: 600px; font-size: 30px">
    <div class="row">

        <div class="col-6" style="border: 3px solid plum; margin-top: 50px; ">
            <form method="POST" enctype="multipart/form-data" action="/import">
                <div class="col-4" style="margin: 50px 0px 10px 50px">
                    <p>Select product file</p>
                </div>
                <div class="col-2" style="margin: 0px 0px 10px 50px">
                    <div class="form-group">
                        <div class="custom-file" >
                            <input type="file" class="custom-file-input" id="productFile" name="productFile">
                            <label class="custom-file-label" for="productFile" style="margin-top:20px">Choose file</label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" style="margin: 0px 0px 50px 50px; background-color: plum; border-color: plum; font-size: 30px">
                    Import File
                </button>
            </form>

        </div>

    </div>
</div>

</body>
</html>